<div>
  <div>
    <h1>
      List of all flights
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new flight
    </h2>

    <form action="/insert_flight" method="post">
      <div>
        <label for="departs_at_box">
          Departs at
        </label>

        <input type="datetime-local" id="departs_at_box" name="query_departs_at">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Create flight
      </button>
    </form>
  </div>
</div>

<hr>
<h2>Upcoming</h2>
<div>
  <div>
    <table>
      <tr>
        <th>
          Departs at
        </th>

        <th>
          Description
        </th>

        <th>
          Alert sent
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @upcoming_flights.each do |a_flight| %>
      <tr>
        <td>
          <%= a_flight.departs_at %>
        </td>

        <td>
          <%= a_flight.description %>
        </td>

        <td>
          <%= a_flight.alert_sent %>
        </td>

        <td>
          <%= time_ago_in_words(a_flight.created_at) %> ago
        </td>

        <td>
          <a href="/delete_flight/<%= a_flight.id %>">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<h2>Past</h2>
<div>
  <div>
    <table>
      <tr>
        <th>
          Departs at
        </th>

        <th>
          Description
        </th>

        <th>
          Alert sent
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @past_flights.each do |a_flight| %>
      <tr>
        <td>
          <%= a_flight.departs_at %>
        </td>

        <td>
          <%= a_flight.description %>
        </td>

        <td>
          <%= a_flight.alert_sent %>
        </td>

        <td>
          <%= time_ago_in_words(a_flight.created_at) %> ago
        </td>

        <td>
          <a href="/delete_flight/<%= a_flight.id %>">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
